@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@font-face {
	font-family: "JetBrains Mono";
	src: url("/assets/JetBrainsMono.ttf");
}

:root {
	&, * {
  	font-family: "JetBrains Mono", sans-serif;
	}
	overflow-wrap: break-word;
	--text: #fff;
  --default: #eee;
	--dim: #aaa;
  --accent: hotpink;
  --bg: #333;
  --bg-light: #393939;
  --bg-bright: #555;
}

html {
	scroll-timeline-name: --page-scroll;
  scroll-timeline-axis: block;
}

#title::before {
	content: "🧶";
}

a {
  color: var(--accent);
  text-decoration: none;
}

p {
	padding: 0 .5rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
	text-align: center;
}

hr {
	border: none;
	background-color: var(--bg-bright);
	height: 1px;
}

body {
  color: var(--default);
  margin: 0;
  background-color: var(--bg);
}

article {
  margin-bottom: .5rem;
  background-color: var(--bg-light);
	border: 1px solid var(--bg-bright);
	border-radius: 3px;
	&:target {
		border-color: var(--accent);
	}
	& .reply {
		font-weight: 600;
		display: block;
		&::before {
			content: ">>";
			margin-right: -.5rem;
		}
	}
	& .content {
		h1, h2, h3, h4, h5, h6 {
			text-align: left;
		}
		& p {
			padding: 0;
			margin: 0;
		}
		& pre {
			margin: 0;
		}
		& blockquote {
			margin: 0;
			padding: .25rem;
			border-left: 2px solid var(--dim);
		}
		font-size: .75rem;
		font-weight: 400;
		color: var(--text);
		margin: 0;
	  padding: .5rem;
		border-top: 1px solid var(--bg-bright);
		border-bottom: 1px solid var(--bg-bright);
	}
	& .attachments {
		padding-left: 2rem;
		& img,
		& video {
			user-select: none;
			width: 100%;
			border-radius: 3px;
		}
	}
	& header {
		font-size: .75rem;
		display: flex;
		justify-content: space-between;
	}
	& header, & footer {
	  padding: .25rem .5rem;
	}
}

.navbar {
	position: sticky;
	top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
	align-items: center;
  background-color: var(--bg-light);
  padding: .5rem;
}

.caption {
	text-align: center;
	padding: 2rem 0;
}

.breadcrumbs {
	& > ol > li {
	  display: flex;
	  align-items: center;
	  &::before {
	    content: "/";
		}
	}
	& ol {
	  padding: 0;
	  margin: 0;
	  list-style: none;
	  display: flex;
	  flex-wrap: wrap;
	}
}

button, select {
	font-weight: 600;
}

form {
	padding: .5rem;
	background-color: var(--bg-light);
	color: inherit;
	border: 1px solid var(--bg-bright);
	border-radius: 3px;
	& > legend {
		text-align: center;
		font-weight: 800;
	}
	& fieldset {
		padding: .5rem;
		gap: .5rem;
		border: 1px solid var(--bg-bright);
		display: flex;
		justify-content: space-between;
		align-items: center;
		& input[type="text"],
		& input[type="search"],
		& input[type="password"] {
			width: 100%;
		}
		& > legend {
			font-size: .75rem;
		}
		&:not(:has(legend)) {
			border: none;
			padding: 0;
		}
		& textarea {
			width: 100%;
			resize: vertical;
			min-height: 1rem;
		}
		& ::file-selector-button {
			font-family: inherit;
		}
		&:has(button[type="submit"]) {
			justify-content: end;
		}
		& span {
			display: flex;
			align-items: center;
		}
	}
}

.themes {
	& .theme {
		padding: .5rem;
		& summary {
			font-weight: 700;
		}
		& ul {
			list-style: none;
			padding-left: 0;
			& li::before {
				content: '•';
				color: var(--dim);
			}
		}
	}
}

.bottom {
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	width: 3rem;
	height: 3rem;
	margin-left: auto;
	display: flex;
	border: 1px solid var(--accent);
	border-radius: 50%;
	backdrop-filter: blur(.1rem);
	animation: fade-at-bottom;
  animation-timeline: --page-scroll;
	transition-duration: 1s;
	user-select: none;
	& span {
		margin: auto;
	}
}

#bottom {
	border: none;
	height: 0;
}

@keyframes fade-at-bottom {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  5%, 95% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
	}
}