<!DOCTYPE html>
<html>
  <head>
    <title>{{ TITLE }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/main.css">
		<link rel="stylesheet" href="/assets/hljs.css">
		<script src="https://cdn.jsdelivr.net/npm/linkify-it/build/index.cjs.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/markdown-it/dist/browser/markdown-it.umd.min.js"></script>
		<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release/build/highlight.min.js"></script>
    <script src="https://127.0.0.1:8443/assets/eruda.js" defer></script>
  	<script src="/assets/main.js" defer></script>
	</head>
  <body>
    <header class="navbar">
      <a href="/">
     		<strong id="title">{{ TITLE }}</strong>
			</a>
			<span>
				<label for="boards">Board:</label>
	      <select id="boards" onchange="window.location.href='/'+this.value">
	        {% include "boards.html" %}
	      </select>
			</span>
			<span>
				<button
					popovertarget="new-post"
					onclick="document.getElementById('reply').value=''">
					Post
				</button>
{%- include "user_button.html" -%}
			</span>
{%- include "login_form.html" -%}
    </header>
    <main>
      <div class="caption">
        <h1>
					<a href="/{{ board.name }}">{{ board.title }}</a>
				</h1>
{%- if let Some(description) = board.description -%}
			<p>{{ description }} </p>
{%- endif -%}
{%- if let Some(thread) = thread -%}
			<hr>
			<p>Thread §{{ thread }}</p>
{%- endif -%}
      </div>
			<a href="#bottom" class="bottom">
				<span>&darr;</span>
			</a>
			<template id="attachment-template">
				<li class="attachment">
					<a href="" download></a>
				</li>
			</template>
      {{ posts|safe }}
			<hr id="bottom">
			<form 
			id="new-post"
			method="post"
			enctype="multipart/form-data"
			popover>
				<fieldset>
					<label for="reply">Reply to</label>
					<input type="number" name="reply" id="reply" placeholder="ID">
				</fieldset>
				<fieldset>
					<textarea name="content" id="content"></textarea>
				</fieldset>
				<fieldset>
					<input type="file" name="attachments" multiple>
				</fieldset>
				<fieldset>
					<span>
						<input type="checkbox" name="anonymous" id="anonymous">
						<label for="anonymous">Anonymous</label>
					</span>
					<button type="submit">Post</button>
				</fieldset>
			</form>
    </main>
  </body>
</html>