<form id="login" popover method="post" action="/login">
	<legend>Login</legend>
	<fieldset>
		<legend>Name or email</legend>
		<input type="text" required
			name="login"
			placeholder="Username or email">
	</fieldset>
	<fieldset>
		<legend>Password</legend>
		<input type="password" required 
			name="password"
			placeholder="Password">
	</fieldset>
	<hr>
	<fieldset>
		<small><a href="#">Forgot password?</a></small>
		<button>Register</button>
		<button type="submit">Login</button>
	</fieldset>
</form>